<div class="logo center m-2">
    <!-- <img src="" alt=""> -->
     <h1>LOGO</h1>
</div>
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4 w-50">
    <h3 class="text-center mb-4">Add Car</h3>
    <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
      <!-- Model Name -->
      <div class="mb-3">
        <label for="modelName" class="form-label">Model Name</label>
        <input
          type="text"
          id="modelName"
          class="form-control"
          formControlName="modelName"
          placeholder="Enter model name"
        />
      </div>
  
      <!-- Multiple Car Photos -->
      <div class="mb-3">
        <label class="form-label">Multiple Car Photos (Max 4)</label>
        <div formArrayName="multiplePhotos">
          <div
            class="d-flex mb-2 center"
            *ngFor="let field of multiplePhotos.controls; let i = index"
            [formGroupName]="i"
          >
            <input
              type="file"
              class="form-control me-2"
              formControlName="photo"
            />
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="90"
            height="35"
            fill="currentColor"
            class="bi bi-plus me-2"
            viewBox="0 0 16 16"
            
            (click)="addPhoto()"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="25"
            fill="currentColor"
            class="bi bi-trash3"
            viewBox="0 0 16 16"
            (click)="removePhoto(i)"
            *ngIf="i>0"
          >
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
            />
          </svg>
         
          </div>
        </div>
      </div>
  
      <!-- Polish Photos -->
      <div class="mb-3">
        <label class="form-label">Polish Photos (Max 4)</label>
        <div formArrayName="polishPhotos">
          <div
            class="d-flex mb-2 center"
            *ngFor="let field of polishPhotos.controls; let i = index"
            [formGroupName]="i"
          >
            <input
              type="file"
              class="form-control me-2"
              formControlName="photo"
            />
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="90"
            height="35"
            fill="currentColor"
            class="bi bi-plus me-2"
            viewBox="0 0 16 16"
            
            (click)="addPolishPhoto()"
           
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="25"
            fill="currentColor"
            class="bi bi-trash3"
            viewBox="0 0 16 16"
            (click)="removePolishPhoto(i)"
              *ngIf="i > 0"
          >
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
            />
          </svg>
            <!-- <button
              type="button"
              class="btn btn-success me-2"
             
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="removePolishPhoto(i)"
              *ngIf="i > 0"
            >
              Remove
            </button> -->
          </div>
        </div>
      </div>
  
      <!-- Other Fields -->
      <div class="mb-3">
        <label class="form-label">Bill Photo</label>
        <input type="file" class="form-control" formControlName="billPhoto" />
      </div>
      <div class="mb-3">
        <label class="form-label">Selling Photo</label>
        <input type="file" class="form-control" formControlName="sellingPhoto" />
      </div>
      <div class="mb-3">
        <label class="form-label">Cheque Front Side Photo</label>
        <input type="file" class="form-control" formControlName="chequeFront" />
      </div>
      <div class="mb-3">
        <label class="form-label">Cheque Back Side Photo</label>
        <input type="file" class="form-control" formControlName="chequeBack" />
      </div>
  
        <div class="mb-3">
          <label class="form-label">Selling Photo</label>
          <input
            type="file"
            class="form-control"
            formControlName="sellingPhoto"
          />
        </div>
  
        <div class="mb-3">
          <label class="form-label">Cheque Front Side Photo</label>
          <input
            type="file"
            class="form-control"
            formControlName="chequeFront"
          />
        </div>
  
        <div class="mb-3">
          <label class="form-label">Cheque Back Side Photo</label>
          <input
            type="file"
            class="form-control"
            formControlName="chequeBack"
          />
        </div>
  
        <div class="center">
            <button
          type="submit"
          class="btn submitBtn  w-50 "
          [disabled]="!photoForm.valid"
        >
          Submit
        </button>
        <button
        type="reset"
        class="btn btn-primary w-50 "
      
      >
        Reset
      </button>
        </div>
      </form>
    </div>
  </div>
  